body {
  overflow-x: hidden; }

nav .nav-input {
  border: none;
  border-left: 1px solid black;
  margin-right: 20px; }

nav a {
  color: #fff; }

nav a:hover {
  color: #fff; }

nav .dropdown .dropdown-new {
  color: black; }

nav .dropdown .dropdown-toggle {
  color: #fff; }

nav .dropdown .dropdownstyle {
  border-radius: 0px;
  border: none; }
  nav .dropdown .dropdownstyle a {
    color: gray; }
  nav .dropdown .dropdownstyle a:hover {
    color: red;
    background-color: #fff; }

nav li .btn-opaque {
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(255, 255, 255, 0.2) 2px solid;
  color: #fff;
  width: 200px;
  height: 50px; }

nav li .btn-opaque:hover {
  border: #fff 2px solid;
  color: #fff; }

nav li .btn-opaque2 {
  background-color: #fff;
  border: lightgray 2px solid; }

#landing {
  background: url("../img/image1.jpg");
  position: relative;
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat; }
  #landing .dark-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%; }
  #landing .index-content1 {
    margin-top: 100px; }
  #landing .index-form1 {
    margin-left: 90px;
    width: 900px; }
    #landing .index-form1 .index-form1-input {
      height: 50px;
      border: none;
      border-right: 1px solid gray; }
    #landing .index-form1 input {
      border-right: 1px solid gray; }
    #landing .index-form1 .index-form1-btn {
      border: none;
      background-color: #fff;
      height: 50px;
      border-radius: 0px 5px 5px  0px; }
    #landing .index-form1 .index-form1-btn button:hover {
      background-color: #fff; }
    #landing .index-form1 .index-form1-style a:hover {
      background-color: red;
      color: #fff; }
  #landing .opt-row {
    margin-top: 130px; }
    #landing .opt-row .col {
      background-color: rgba(255, 255, 255, 0.2);
      max-width: 100px;
      height: 110px;
      margin-right: 1px;
      border-radius: 2px;
      width: 200px; }
      #landing .opt-row .col p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }

#highlight .highlight-row {
  padding: 0px;
  margin: 0px; }
  #highlight .highlight-row .dine {
    background: url("../img/image6.jpg");
    position: relative;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat; }
  #highlight .highlight-row .drink {
    background: url("../img/image5.jpg");
    position: relative;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat; }
  #highlight .highlight-row .stay {
    background: url("../img/image3.jpg");
    position: relative;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat; }
  #highlight .highlight-row .tented {
    background: url("../img/image4.jpg");
    position: relative;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat; }
  #highlight .highlight-row .dark-overlay-hi {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%; }
  #highlight .highlight-row .col-sm-3 {
    border-radius: 5px;
    margin: 20px;
    max-width: 250px;
    height: 300px; }

.hi-fa {
  border: 2px solid #4c9c52;
  border-radius: 50%;
  padding: 10px;
  margin-right: 5px; }

#product1 .card .color-fa {
  color: #4c9c52; }

#product2 .card .color-fa {
  color: #4c9c52; }

#footer .footer-fa {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px; }

#footer .bg-black {
  background-color: #3d403d; }

#procedures .listing-btn {
  border: none;
  height: 60px;
  max-width: 600px;
  margin-left: 250px; }

#procedures .listing-btn:hover {
  background-color: gray;
  border: none; }
