$darkoverlay: rgba(0,0,0,0.6);
$transparentwhitecolor: rgba(255,255,255,0.2);
$navtransparentwhitecolor: rgba(255,255,255,0.1);
$navtransparentwhitecolor2: rgba(0,0,0,0.7)



body{
    overflow-x: hidden;
}


nav{
    .nav-input{
        border: none;
        border-left: 1px solid black;
        margin-right: 20px;
        
    }
    a{
        color: #fff;
    }
    a:hover{
        color:#fff;
    }
    .dropdown{
       
        .dropdown-toggle{
            color: #fff;
        }
        .dropdownstyle{
            border-radius: 0px;
            border: none;
            a{
                color: gray;
            }
            a:hover{
                color: red;
                background-color: #fff;
            }
        }
    }
    
    li{
        
    
        
        .btn-opaque{
            background-color:$navtransparentwhitecolor;
            border: $transparentwhitecolor 2px solid;
            color: #fff;
            width: 200px;
            height: 50px;
            
        }
        .btn-opaque:hover{
            border: #fff 2px solid;
            color: #fff;
        }
        .add-btn{
            border: solid 1px black;
        }
        
        
        
    }
    
    
   
}

#landing{
    background: url('../img/image1.jpg');
    position: relative;
    min-height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    .dark-overlay{
        
        background: $darkoverlay;
        position: absolute;
        height: 100%;
        width: 100%;
    
    }

    .index-content1{
        margin-top: 100px;
    }
    .index-form1{
        
        margin-left: 90px;
        width: 900px;
        .index-form1-input{
            height: 50px;
            border: none;
            border-right: 1px solid gray;
            
            
            }
            input{
                border-right: 1px solid gray;
            }
            
        .index-form1-btn{
            border: none;
            background-color: #fff;
            height: 50px;
            border-radius:0px 5px 5px  0px;
            
        }
        .index-form1-btn button:hover{
            background-color: #fff;
        }
            
        .index-form1-style{
            a:hover{
                background-color: red;
                color: #fff;
            }
        
      }
    }
    .opt-row{
        margin-top: 130px;
        .col {
            background-color: $transparentwhitecolor;
           max-width: 100px;
           height: 110px;
           margin-right: 1px;
           border-radius: 2px;
           width: 200px;
           p{
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
           }
  
  
           
           
           

        }
    }
  }

#highlight{
    .highlight-row{
        padding: 0px;
        margin:0px;
        
        .dine{
            background: url('../img/image6.jpg');
            position: relative;
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
           

        }
        .drink{
            background: url('../img/image5.jpg');
            position: relative;
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        .stay{
            background: url('../img/image3.jpg');
            position: relative;
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
        
        }
        .tented{
            background: url('../img/image4.jpg');
            position: relative;
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
        

        }
        .dark-overlay-hi{
        
            background: $darkoverlay;
            position: absolute;
        
            height: 100%;
            width: 100%;
        
        }
        
        
            
        
        .col-sm-3{
            
            border-radius: 5px;
            margin: 20px;
            max-width: 250px;
            height: 300px;
        }
        
    }
}
.hi-fa{
    border: 2px solid #4c9c52;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
 

}

#product1{
    .card{
        .color-fa{
            color:  #4c9c52;
        }
    }
}

#product2{
    .card{
        
        .color-fa{
            color: #4c9c52 ;
        }
    }
}
#footer{
    .footer-fa{
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 10px;
        margin: 10px;
    }
    .bg-black{
        background-color: #3d403d;
    }
}

#procedures{
    .listing-btn{
        border: none;
        height: 60px;
        max-width: 600px;
        margin-left: 250px;
    }
    .listing-btn:hover{
        background-color: gray;
        border: none;
    }
}

